<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/AdminContent/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/AdminContent/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    
    <link href="~/AdminContent/assets/css/style.css" rel="stylesheet" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/AdminContent/assets/images/favicon.ico" />






</head>
<body>
    <div class="container-scroller">
        @Html.Partial("_NavbarAdmin")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            @Html.Partial("_SidebarAdmin")
            <div class="main-panel">
                @RenderBody()
                <!-- content-wrapper ends -->

                <footer class="footer">
                    <div class="container-fluid d-flex justify-content-between">
                        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © TechEdSquare.com 2023</span>
                        <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"><a href="" target="_blank"></a></span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/AdminContent/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/AdminContent/assets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/AdminContent/assets/js/off-canvas.js"></script>
    <script src="/AdminContent/assets/js/hoverable-collapse.js"></script>
    <script src="/AdminContent/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/AdminContent/assets/js/chart.js"></script>
    <!-- End custom js for this page -->
</body>
</html>
