
@{
    ViewBag.Title = "All Course";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>AllCourse</h2>
 @*Header code*@
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
            </span>
        </h3>

        <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add new course</button>

    </div>

    @*Card start*@
    <div class="card">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-4">
                    <img src="https://images.alphacoders.com/605/605592.png" class="w-100">
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h1>1</h1>
                        <h3 class="card-title">Web Devlopmnet</h3>
                        <a class="card-text"> Web devlopment</a>
                        <p class="card-text">
                            In this course we lern ext formatting Tags
                            HTML Structures - List, Tables
                            HTML Forms
                            GET VS POST
                            Fieldset and Legend Tag
                            HTML5 elements
                            Audio,Video tags
                            Types of CSS
                            CSS Selectors
                            CSS Properties
                            CSS Advanced Properties
                            CSS3 Properties
                            Transition Properties
                            Keyframe Animation
                            Responsive Layout
                            Media Queries
                        </p>
                        <a href="#" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-4">
                    <img src="https://images.alphacoders.com/605/605592.png" class="w-100">
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                        <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="row">

        @*1th card*@
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <img src="https://images.alphacoders.com/605/605592.png" class="w-100 h-5">
                    <br />
                    <br />
                    <h2 class="card-title">Web Devlopment</h2>
                    <p class="card-description">Start Class </p>
                    <ul class="list-ticked">
                        <li>
                            In this course we lern ext formatting Tags
                            HTML Structures - List, Tables
                            HTML Forms
                            GET VS POST
                            Fieldset and Legend Tag
                            HTML5 elements
                            Audio,Video tags
                            Types of CSS
                            CSS Selectors
                            CSS Properties
                        </li>
                        <br />
                        <a href="#" class="btn btn-primary">Edit</a>
                    </ul>
                </div>
            </div>
        </div>

        @*2th card*@
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <img src="https://images.alphacoders.com/605/605592.png" class="w-100 h-5">
                    <br />
                    <br />
                    <h2 class="card-title">Tester</h2>
                    <p class="card-description">Add class <code>.list-ticked</code> to <code>&lt;ul&gt;</code></p>
                    <ul class="list-ticked">
                        <li>
                            In this course we lern ext formatting Tags
                            HTML Structures - List, Tables
                            HTML Forms
                            GET VS POST
                            Fieldset and Legend Tag
                            HTML5 elements
                            Audio,Video tags
                            Types of CSS
                            CSS Selectors
                            CSS Properties
                        </li>
                        <br />
                        <a href="#" class="btn btn-primary">Edit</a>
                    </ul>
                </div>
            </div>
        </div>

        @*3th card*@
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <img src="https://images.alphacoders.com/605/605592.png" class="w-100 h-5">
                    <br />
                    <br />
                    <h2 class="card-title">Tester</h2>
                    <p class="card-description">Add class <code>.list-ticked</code> to <code>&lt;ul&gt;</code></p>
                    <ul class="list-ticked">
                        <li>
                            In this course we lern ext formatting Tags
                            HTML Structures - List, Tables
                            HTML Forms
                            GET VS POST
                            Fieldset and Legend Tag
                            HTML5 elements
                            Audio,Video tags
                            Types of CSS
                            CSS Selectors
                            CSS Properties
                        </li>
                        <br />
                        <a href="#" class="btn btn-primary">Edit</a>
                    </ul>
                </div>
            </div>
        </div>

        @*4th card*@
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <img src="https://images.alphacoders.com/605/605592.png" class="w-100 h-5">
                    <br />
                    <br />
                    <h2 class="card-title">Tester</h2>
                    <p class="card-description">Add class <code>.list-ticked</code> to <code>&lt;ul&gt;</code></p>
                    <ul class="list-ticked">
                        <li>
                            In this course we lern ext formatting Tags
                            HTML Structures - List, Tables
                            HTML Forms
                            GET VS POST
                            Fieldset and Legend Tag
                            HTML5 elements
                            Audio,Video tags
                            Types of CSS
                            CSS Selectors
                            CSS Properties
                        </li>
                        <br />
                        <a href="#" class="btn btn-primary">Edit</a>
                    </ul>
                </div>
            </div>
        </div>


    </div>




</div>